.owner_and_info_wrapper{
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
}

.appart_info_wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    
    .appart_info_title{
        font-size: 36px;
        height:51px;
        font-weight: 500;
        color: #FF6060;
        margin: 0;
    }
    .appart_info_location{
        font-size: 18px;
        height: 26px;
        font-weight: 500;
        color: #FF6060;
        margin: 0;
    }
    
    .appart_info_tags_wrapper{
        display: flex;
        gap: 10px;
        margin-top: 20px;

        .appart_info_tags{
            margin: 23px 0 0 0;
            background-color: #FF6060;
            color: white;
            border-radius: 10px;
            height: 25px;
            min-width: 115px;
            padding: 0 10px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 24px;
        }
    }
}

.host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: min-content;

    .host_name_picture{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        

        .host_name{
            margin: 0 10px 0 0;
            text-align: end;
            height: 52px;
            width: 65px;
            min-width: min-content;
            line-height: 26px;
            font-size: 18px;
            color: #FF6060;
        }
        .host_picture{
            border-radius: 100%;
            object-fit: cover;
            height: 64px;
            width: 64px;
            left: 1273px;
        }
    }
    .host_stars{
        height: 36px;
        width: max-content;
        margin-top: 27px;
    }
}
