.collapse_open {
  color: #FF6060;
  background-color: #F7F7F7;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;

  & p {
    padding: 35px 17px 35px 17px;
    margin: 0;
    font-size: 24px;
  }
  & li {
    margin: 0 17px 0 17px;
    font-size: 18px;
  }
    
  & img {
    transform: rotate(180deg);
    transition: 0.3s ease-out;
  }
}
    
.collapse_closed {
  width: 100%;
  margin-bottom: 30px;

  & img {
    transition: 0.3s ease-out;
  }
  }

  
.collapse_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF6060;
  color: white;
  width: 100%;
  height: 52px;
  font-size: 24px;
  padding: 0 30px 0 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .collapse_button{
    height: 30px;
    font-size: 13px;
    padding: 0 12px 0 10px;
    border-radius: 5px;

    & img{
      width: 15px;
    }
  }
  .collapse_closed{
    margin-bottom: 20px;
    width: 100%;
  }
  .collapse_open{
    margin-bottom: 20px;
    width: 100%;

    & p{
      font-size: 12px;
      padding: 20px 11px 3px 11px;
    }
    & li {
      margin: 0 11px 0 11px;
      font-size: 12px;
    }
  }
}