.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    width: 100%;
    margin: 25px 0 30px 0;
  
  
    .picture_number {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
    bottom: 0;
  }
  
  .carrousel_image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .right_vector {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    right: 20px;
  }
  
  .left_vector {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 20px;
  }
  
  .inactive {
    opacity: 0.7;
    transition: 1s ease;
  }
  
  .active {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 1s ease;
  }
  
  .noPictures {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .carrousel{
    width: 100%;
    height: 255px;
    margin: 25px 0 15px 0;

    .picture_number{
      display: none;
    }
    .carrousel_image{
      border-radius: 10px;
    }
    .right_vector{
      height: 20px;
    }
    .left_vector{
      height: 20px;
    }
  }
}