body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page_layout{
  width: 87%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .page_layout{
    width: 90%;
  }
}
