.banner_position {
    margin: 63px 0 43px 0;
  }
  
.banner_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;


  h1{
      z-index: 2;
      color: white;
      font-size: 48px;
      font-weight: 500;
      line-height: 68.45px;
  }


  .banner_div_image {
      position: absolute;
      border-radius: 25px;
      height: 223px;
      width: 87%;
      object-fit: cover;
  }

  .banner_div_background {
      background-color: black;
      height: 223px;
      width: 87%;
      position: absolute;
      border-radius: 25px;
      opacity: 30%;
  }
}
